<div class="div1">

    <div class="title">
        <p class="paragrafo">Ínicio primeiro-comp.component.html</p>
        <h2 id="titli">
            Nome: {{ firstName }} {{ lastName }} <br>
            Idade: {{ age }} <br>
            Profissão: {{ job }} <br>
            Hobbie: {{ hobbies[2] }} <br>
            Modelo do carro: {{ car.name }} - {{ car.color }} -  {{ car.year }} <br>
            Objetivo: {{ objective }}
            Obejetivo: {{ obejetivo }}
        </h2>
        <a href="">Para mais informações clique aqui</a> <br>
    </div>

    
    <h3 *ngIf="show" [ngStyle]="{'color': cor, 'font-size': tamanho}">
        Mensagem que irá aparecer se apertar o botão
    </h3>

    <button (click)="showMessage()">Mensagem do Butão</button>

</div>
