.paragrafo {
    margin: 0px;
    padding: 0px;
}

h2 {
    color: rgba(245, 245, 245, 0.884);
}

.title {
    background: rgb(196, 186, 102);
    margin: 9px;
    border: 4px solid black;
    padding: 13px;
}

#titli {
    border: 2px solid rgb(22, 21, 21);
}

a {
    color: rgb(229, 248, 60);
    padding: 0px;
    margin: 0px;
}