.green-title {
    color: green;
}

.small-title {
    font-size: 15px;
}

.underline {
    text-decoration: underline;
}

.blue-title {
    color: blue;
    text-decoration: underline;
}

.smoll-title {
    font-size: 30px;
}