<p class="paragrafo">Ínicio primeiro-comp.component.html</p>
<div class="title">
    <h2 id="titli">
        Nome: {{ firstName }} {{ lastName }} <br>
        Idade: {{ age }} <br>
        Profissão: {{ job }} <br>
        Hobbie: {{ hobbies[2] }} <br>
        Modelo do carro: {{ car.name }} - {{ car.color }} -  {{ car.year }} <br>
        Objetivo: {{ objective }}
        Obejetivo: {{ obejetivo }}
    </h2>
    <a href="">Para mais informações clique aqui</a> <br>
</div>
Fim primeiro-comp.component.html <br> 